# Node modules
node_modules/

# Local env files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Editor folders
.vscode/
.idea/
*.suo
.cph/

# Misc
npm-debug.log*